<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bhautik_AdminFieldDemo::adminfielddemo_configuration" title="Bhautik AdminFieldDemo" module="Bhautik_AdminFieldDemo" sortOrder="99"  
        	action="adminhtml/system_config/edit/section/system_section" resource="Bhautik_AdminFieldDemo::adminfielddemo_configuration"/>
    </menu>
</config>
